<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Supplier </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">Add new Supplier</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>idSupplier</th>
        <th>code</th>
        <th>label</th>
        <th>supplierCategory</th>
        
      </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of listSupplier'>
          <td>{{p.idSupplier}}</td>
          <td>{{p.code}}</td>
          <td>{{p.label}}</td>
          <td>{{p.supplierCategory}}</td>
         
        <td>
         
          &nbsp;
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Supplier</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="Supplier-code">code</label>
        <div class="input-group">
          <input id="Supplier-code" class="form-control" type="text" placeholder="code"
                 [(ngModel)]="Supplier.code"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="Supplier-label">label</label>
        <div class="input-group">
          <input id="Supplier-label" class="form-control" type="date" placeholder="label"
                 [(ngModel)]="Supplier.label"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="Supplier">supplierCategory</label>
        <div class="input-group">
          <input id="Supplier" class="form-control" type="text" placeholder="supplierCategory"
                 [(ngModel)]="Supplier.supplierCategory"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addSupplier(Supplier)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>